@media only screen and (max-width: 1440px) {
    .logo {
        img {
            width: 100px;
        }
    }

    .header__title {
        font-size: 130px;
        line-height: 97px;
        left: 60px;
    }

    .header {
        .menu {
            padding-top: 10px;
        }
    }

    .header__map {
        svg {
            width: 750px;
            height: 372px;
        }
    }

    .header {
        &__aside {
            position: absolute;
            border-right: none;
            height: 108px;
            padding-right: 25px;
            background-color: rgba(#fff, .2);
            text-align: left;
            display: flex;
        }

        .slider-item__info-title {
            font-size: 65px;
        }


        .menu {
            padding-top: 0;

            &__list {
                text-align: center;

                li {
                    display: inline-block;
                }

                a {
                    padding: 15px;
                }
            }
        }

        &__search {
            padding: 33px 15px 15px;
            padding-bottom: 10px;
        }

        &__date {
            padding: 15px;
            font-size: 60px;

            span {
                font-size: 14px;
                padding-top: 0;
                margin-bottom: 5px;
            }
        }

        &__location {
            margin-top: 42px;
        }

        &__arrows {
            display: none;
        }
    }

    .slider-arrows {
        top: 20px;
        right: 20px;

        &__left {
            right: 60px;
        }
    }
}

@media only screen and (max-width : 1280px) {
    .header__map {
        svg {
            width: 496px;
            height: 372px;
        }
    }
}

@media only screen and (max-width: 1040px) {
    .header {
        &__search {
            padding: 40px 15px 15px;
        }

        .slider-item__info {
            position: absolute;
            right: 20px;
            bottom: 20px;
            text-align: right;

            &-text {
                font-size: 30px;
                line-height: 20px;
                margin-bottom: 30px;
                margin-top: 10px;
            }

            &-title {
                font-size: 55px;
                line-height: 55px;
                margin-bottom: 20px;
            }
        }

        .dots-box {
            width: 130px;
        }
    }

    .slider-dotshead {
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 5px;
    }

    .menu {
        display: none;
    }

    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
    }

    .headline-left::before {
        width: 50px;
    }
}
 

@media only screen and (max-height : 800px) {
    .header__map {
        svg {
            width: 500px;
            height: 250px;
        }
    }
}

// @media only screen and (max-width : 1680px) {}

// @media only screen and (max-width : 1366px) {}

// @media only screen and (max-width : 1280px) {}

// @media only screen and (max-width : 1024px) {}

// @media only screen and (max-width : 800px) {}

// @media only screen and (max-width : 768px) {}

// @media only screen and (max-width : 600px) {}

// @media only screen and (max-width : 533px) {}

// @media only screen and (max-width : 360px) {}

// @media only screen and (max-width : 320px) {}

// @media only screen and (max-width : 240px) {}

// @media only screen and (max-width : 176px) {}